
.body {
    background-image: linear-gradient(to bottom right, gray 2%,black ) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 600px;
    padding-left:  30px; 
}
.body-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-wrapper > p.p-large{
    font-size: 2em;
    color: lightgray;
}
.p-large .bold {
    font-weight: bold;
    color: white;
}
.text-wrapper > p {
    color: lightgrey;
}
p.p-small {
    font-size: 1.8em;
}
.button-wrapper {
    display: flex;
    gap: 25px;
    align-items: center;
} 
.button-wrapper button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 3px;
}
.button-wrapper button.green {
    background: rgb(71, 207, 115);
    color: black;

}
.button-wrapper button.black {
    background:black;
    color: white;

}
.left-wrapper {
    margin-right: auto;
    width: 50%;
}
.right-wrapper {
   width: 50%;
   display: flex;
   justify-content: flex-end;
   align-items: center;

}

.right-wrapper > img {
    max-width: 500px;
}

/** Footer Section **/

.footer {
    background: rgb(44, 48, 58);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
}
.footer > .sections {
    width: 25%;
    border-right: 1px solid right;
    display: flex;
    flex-direction: row;
    padding: 15px;
    font-weight: .8em;
    align-items: baseline;
}
.footer > .sections:last-child {
    
    border-right: none;
}
.footer > .sections > .type {
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 3px;
    font-size: 2em;
}